{{#if tooltip}}
	<p class="mdl-speed-dial__tooltip">{{tooltip}}</p>
{{/if}}
<a href="#" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
	<i class="material-icons">{{icon}}</i>
</a>